body{
    margin: 0;
    background-color: grey;
}
table{
    border: 1px solid black;
    border-inline: 1px solid black;
    width: 100%;
}
h3{
    align-self: center;
    text-align: center;
}
img{
    height: 300px;
    width: 200px;
    margin: 0;
    padding: 10px;
    align-self: center;
}
table tr:nth-child(1){
    background-color: black;
    color:white;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    height: 35px;
}

table td{
    width: 300px;
    align-items: center;
    text-align: center;
}